.avatar {
  & > img {
    overflow: hidden;
  }
}

.initials {
  height: 300px;
  display: flex;
  color: $redeappwhite;
  align-items: center;
  justify-content: center;
}

.avatarContainer {
  cursor: pointer;
}
