.fullHeight {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.borderLeft {
  border-left: thin solid $border-color;
}

/* dark overrides */
.darkMode {
  .borderLeft {
    border-color: $dark-border-color;
  }
}
